In [3]:
import pandas as pd

In [ ]:
path_train = '1-Resources/Technical Assesments/Task 1/train_land_cover_assignment.csv'
data_in = pd.read_csv(path_train)

In [21]:
data_in.columns

Index(['subid', 'lat', 'lon', 'building', 'cropland', 'wcover', 'bcount', 'x',
       'y', 'bd20', 'bio1', 'bio12', 'bio7', 'bio15', 'cec20', 'dipa', 'dni',
       'dnlt', 'dnpa', 'dor1', 'dor2', 'fpara', 'fpars', 'lcc10', 'lcc11',
       'lcc12', 'lcc13', 'lcc14', 'lcc21', 'lcc8', 'lcc9', 'lstd', 'lstn',
       'mb1', 'mb2', 'mb3', 'mb7', 'mdem', 'mlat', 'mlon', 'nppm', 'npps',
       'ph20', 'sirm', 'sirs', 'slope', 'snd20', 'soc20', 'tim'],
      dtype='object')

In [22]:
numerics = data_in.select_dtypes(include='number')
numerics.columns

Index(['subid', 'lat', 'lon', 'bcount', 'x', 'y', 'bd20', 'bio1', 'bio12',
       'bio7', 'bio15', 'cec20', 'dipa', 'dni', 'dnlt', 'dnpa', 'dor1', 'dor2',
       'fpara', 'fpars', 'lcc10', 'lcc11', 'lcc12', 'lcc13', 'lcc14', 'lcc21',
       'lcc8', 'lcc9', 'lstd', 'lstn', 'mb1', 'mb2', 'mb3', 'mb7', 'mdem',
       'mlat', 'mlon', 'nppm', 'npps', 'ph20', 'sirm', 'sirs', 'slope',
       'snd20', 'soc20', 'tim'],
      dtype='object')

In [23]:
cats = data_in.select_dtypes(include='object')
cats

      building cropland wcover
0           No       No   >60%
1           No      Yes   <30%
2           No      Yes   <30%
3           No       No   <30%
4           No       No   <30%
...        ...      ...    ...
15851       No       No   <30%
15852       No       No   >60%
15853       No       No   <30%
15854       No       No   >60%
15855       No      Yes   >60%

[15856 rows x 3 columns]

In [30]:
data_in.isna().sum()

subid        0
lat          0
lon          0
building     0
cropland     0
wcover       0
bcount       0
x            0
y            0
bd20        45
bio1         0
bio12        0
bio7         0
bio15        0
cec20       45
dipa         0
dni          0
dnlt         0
dnpa         0
dor1         0
dor2         0
fpara        0
fpars        0
lcc10        0
lcc11        0
lcc12        0
lcc13        0
lcc14        0
lcc21        0
lcc8         0
lcc9         0
lstd        19
lstn        19
mb1          1
mb2          1
mb3          1
mb7          1
mdem         0
mlat         0
mlon         0
nppm         0
npps         0
ph20        45
sirm         0
sirs         0
slope        0
snd20       45
soc20       45
tim          1
dtype: int64

In [41]:
data_in.shape
data_in.duplicated().value_counts()

False    15856
Name: count, dtype: int64